[Unit]
Description=ipflare service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=120
Restart=always
ExecStartPre=/usr/bin/docker pull garric/ipflare
ExecStart=/usr/bin/docker run --rm --name %n garric/ipflare \
    -t "token" \
    -f 10 \
    -e "my-site/*.example.com"

[Install]
WantedBy=multi-user.target
